/* =================== Стили для навигации ================= */
body {
  background-color: white;
}
#hiddenMenu {
  background-color: #55194E;
}
#hiddenMenu a {
  color: white;
}
.navbar-toggle {
  background-color: #40173D;
  border: 1px solid white;
}
.icon-bar {
  background-color: white;
}
.navbar-header {
  background-color: #40173D;
}

#navMenu {
  border: none;
}

/*Стили для footer*/
#footerClub {
  background-color: #40173D;
}
#footerClub a{
  color: white;
}
.form-control {
  margin-bottom: 15px;
}
#InfoFooter {
  margin-top: 15px;
}
#footerClub1 {
  color: white;
  background-color: #55194E;
}
#footerClub1 a{
  color: white;
}
#hiddenMenu li:hover {
  background-color: #240D22;
}
#footerList li:hover {
  background-color: none;
}
.fa-heart, h4, .colorFa {
  color: #A13A99;
}
#map {
height: 200px;}

/*Стили для форм*/
.form-control {
  margin-bottom: 15px;
}

.contactUser {
  margin-bottom: 15px;
}

#mailUser, #phoneUser, #vkUser {
  display: none;
}

/* Стили для ролика */
#back-top {
    z-index:9999;
    position:fixed;
    top:20px;
    right:20px;
}

.arrow {
    display:inline-block;
    position:relative;
    width:50px;
    height:50px;
}

.arrow span {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;

}
#userName {
  border: none;
}
